body {
    background-color: #2e2e2e;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

h1, h2, {
    font-weight: 800;
    color: #ffffff;
}

nav ul li a {
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    transition: opacity 0.2s;
}
